# Python
__pycache__/
*.py[cod]
*.pyo
.ipynb_checkpoints/

# Model weights (too large for GitHub)
*.pt
*.pth

# Data
input.txt

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Environment
.env
venv/